*{
  color: grey;
  background-color: black;
  text-align: center;
}

h1, h2, ul, button, canvas {
  color: white;
}

img {
  width: 400px;
  height: 400px;
  margin-right: 16px;

}

section {
  border-style: solid;
  cursor: pointer;
}

#displayVoteResults, #resultChart {
  margin: 1em auto;
  padding: .75em 2em;
  font-size: 150%;
  font-weight: bold;
  border-color: white;
  border-style: double;
  border-width: 2px;
  background-color: deeppink;
  cursor: pointer;
}
#resultChart {
  position: relative;
  left: 400px;
}
